<div class="container" fxLayout fxLayout="column" fxLayoutGap="20px">

    <mat-tab-group dynamicHeight>
        <mat-tab label="Informacion Estudiante">

          <div class="mat-elevation-z4">
            <form [formGroup]="form" class="block-container">

                <!-- Botonos de acceso rapido -->
                <div class="accebility-buttons" fxLayout fxLayout="row wrap" 
                fxLayoutAlign="center">
                    <button mat-fab color="primary" matTooltip="General" matTooltipPosition="below" (click)="goTo(basicInformation)">
                        <mat-icon>person</mat-icon>
                    </button>
                    <button mat-fab color="primary" matTooltip="Familiares" matTooltipPosition="below" (click)="goTo(familyMember)">
                        <mat-icon>family_restroom</mat-icon>
                    </button>
                    <button mat-fab color="primary" matTooltip="Personalidad" matTooltipPosition="below" (click)="goTo(personalityTraits)">
                        <mat-icon>list_alt</mat-icon>
                    </button>
                    <button mat-fab color="primary" matTooltip="Salud" matTooltipPosition="below" (click)="goTo(healthStatus)">
                        <mat-icon>health_and_safety</mat-icon>
                    </button>
                    <button mat-fab color="primary" matTooltip="Academico" matTooltipPosition="below" (click)="goTo(educationalFollowUp)">
                        <mat-icon>history_edu</mat-icon>
                    </button>
                    <button mat-fab color="primary" matTooltip="Seguimiento Anual" matTooltipPosition="below" (click)="goTo(behavioralFollowUp)">
                        <mat-icon>timeline</mat-icon>
                    </button>
                </div>
        
                <!-- Informacion basica -->
                <mat-accordion #basicInformation multi>
                    <mat-expansion-panel [expanded]="true" (opened)="panelOpenState = false"
                                         (closed)="panelOpenState = true">
                      <mat-expansion-panel-header class="header-accordion">
                        <mat-panel-title>
                            Informacion General
                        </mat-panel-title>
                        <mat-panel-description>
                            Informacion basica del estudiante
                            <mat-icon>person</mat-icon>
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <div fxLayout fxLayout="row wrap" fxLayoutGap="20px grid">
                        <mat-form-field fxFlex="50%" fxFlex.xs="100%">
                            <mat-label>Nombre Completo</mat-label>
                            <input matInput formControlName="nombres" placeholder="Nombre y Apellido del estudiante.">
                        </mat-form-field>
                        <mat-form-field fxFlex="25%" fxFlex.xs="100%">
                            <mat-label>Documento</mat-label>
                            <input matInput formControlName="documento" placeholder="Documento">
                        </mat-form-field>
                        <mat-form-field fxFlex="25%" fxFlex.xs="100%">
                            <mat-label>Grado</mat-label>
                            <input matInput formControlName="grado" placeholder="Grado" [matAutocomplete]="autoGrade">
                            <mat-autocomplete #autoGrade="matAutocomplete">
                                <mat-option *ngFor="let option of grades$ | async" [value]="option">
                                  {{ option }}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                        <mat-form-field fxFlex="25%" fxFlex.xs="100%">
                            <mat-label>Sexo</mat-label>
                            <input matInput formControlName="sexo" placeholder="Sexo" [matAutocomplete]="autoSexo">
                            <mat-autocomplete #autoSexo="matAutocomplete">
                                <mat-option *ngFor="let option of genders$ | async" [value]="option">
                                  {{ option }}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                        <mat-form-field fxFlex="25%" fxFlex.xs="100%">
                            <mat-label>Fecha de Nacimiento</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="fechaNacimiento" (click)="picker.open()" (dateChange)="this.calcAge($event)">
                            <mat-hint>DD/MM/YYYY</mat-hint>
                            <mat-datepicker-toggle matIconSuffix [for]="picker" [disabled]="false"></mat-datepicker-toggle>
                            <mat-datepicker #picker [disabled]="false"></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field fxFlex="25%" fxFlex.xs="100%">
                            <mat-label>Edad</mat-label>
                            <input matInput formControlName="edad" placeholder="Edad">
                        </mat-form-field>
                        <mat-form-field fxFlex="25%" fxFlex.xs="100%">
                            <mat-label>Barrio</mat-label>
                            <input matInput formControlName="barrio" placeholder="Barrio" [matAutocomplete]="autoNeighborhood">
                            <mat-autocomplete #autoNeighborhood="matAutocomplete">
                                <mat-option *ngFor="let option of neighborhoodData$ | async" [value]="option">
                                  {{ option }}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                        <mat-form-field fxFlex="50%" fxFlex.xs="100%">
                            <mat-label>Direccion de Residencia</mat-label>
                            <input matInput formControlName="direccionResidencia" placeholder="Direccion de Residencia">
                        </mat-form-field>
                        <mat-form-field fxFlex="25%" fxFlex.xs="100%">
                            <mat-label>Pais de Origen</mat-label>
                            <input matInput formControlName="paisOrigen" placeholder="Pais de Origen" [matAutocomplete]="autoCountry">
                            <mat-autocomplete #autoCountry="matAutocomplete">
                                <mat-option *ngFor="let option of countryData$ | async" [value]="option">
                                  {{ option }}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                        <mat-form-field fxFlex="25%" fxFlex.xs="100%">
                            <mat-label>Ciudad de Origen</mat-label>
                            <input matInput formControlName="ciudadOrigen" placeholder="Ciudad de Origen" [matAutocomplete]="autoCity">
                            <mat-autocomplete #autoCity="matAutocomplete">
                                <mat-option *ngFor="let option of cityData$ | async" [value]="option">
                                  {{ option }}
                                </mat-option>
                              </mat-autocomplete>
                        </mat-form-field>
                        <mat-form-field fxFlex="50%" fxFlex.xs="100%">
                            <mat-label>EPS</mat-label>
                            <input matInput formControlName="eps" placeholder="EPS" [matAutocomplete]="autoEps">
                            <mat-autocomplete #autoEps="matAutocomplete">
                                <mat-option *ngFor="let option of epsData$ | async" [value]="option">
                                  {{ option }}
                                </mat-option>
                              </mat-autocomplete>
                        </mat-form-field>
                        <mat-form-field fxFlex="25%" fxFlex.xs="100%">
                            <mat-label>Telefono</mat-label>
                            <input matInput formControlName="telefono" placeholder="Telefono">
                        </mat-form-field>
                        <mat-form-field fxFlex="25%" fxFlex.xs="100%">
                            <mat-label>Estrato</mat-label>
                            <input matInput formControlName="estrato" placeholder="Estrato">
                        </mat-form-field>
                        <mat-form-field fxFlex="25%" fxFlex.xs="100%">
                            <mat-label>Correo Electronico</mat-label>
                            <input matInput formControlName="correoElectronico" placeholder="Correo Electronico">
                        </mat-form-field>
                        <mat-form-field fxFlex="25%" fxFlex.xs="100%">
                            <mat-label>Sisben</mat-label>
                            <input matInput formControlName="sisben" placeholder="Categoria Sisben">
                        </mat-form-field>
                      </div>
                    </mat-expansion-panel>
                  </mat-accordion>
                
                <!-- Informacion de los padres y acudientes -->
                <mat-accordion #familyMember>
                    <mat-expansion-panel [expanded]="true" (opened)="panelOpenState = false"
                                         (closed)="panelOpenState = true">
                      <mat-expansion-panel-header class="header-accordion">
                        <mat-panel-title>
                            Informacion de Padres y Acudientes
                        </mat-panel-title>
                        <mat-panel-description>
                            Informacion de Padres de familia y Acudientes
                            <mat-icon>family_restroom</mat-icon>
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <div>
                        <!-- DATOS PADRE -->
                        <mat-card class="card-sub-container" formGroupName="padre">
                            <mat-card-header>
                                <mat-card-subtitle>Informacion del Padre</mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content fxLayout fxLayout="row wrap" fxLayoutGap="20px grid">
                                <mat-form-field fxFlex="20%" fxFlex.sm="50" fxFlex.xs="100%">
                                    <mat-label>Nombres del Padre</mat-label>
                                    <input matInput formControlName="nombre" placeholder="Nombres y Apellidos">
                                </mat-form-field>
                                <mat-form-field fxFlex="20%" fxFlex.sm="50" fxFlex.xs="100%">
                                    <mat-label>Documento del Padre</mat-label>
                                    <input matInput formControlName="documento" placeholder="Documento del Padre">
                                </mat-form-field>
                                <mat-form-field fxFlex="20%" fxFlex.sm="33" fxFlex.xs="100%">
                                    <mat-label>Ocupacion del Padre</mat-label>
                                    <input matInput formControlName="ocupacion" placeholder="Ocupacion del Padre">
                                </mat-form-field>
                                <mat-form-field fxFlex="20%" fxFlex.sm="33" fxFlex.xs="100%">
                                    <mat-label>Telefono del Padre</mat-label>
                                    <input matInput formControlName="telefono" placeholder="Telefono del Padre">
                                </mat-form-field>
                                <p fxFlex="20%" fxFlex.sm="33" fxFlex.xs="100%">
                                    <mat-checkbox formControlName="viveConEstudiante">¿Vive con el Padre?</mat-checkbox>
                                </p>
                            </mat-card-content>
                        </mat-card>
        
                        <!-- DATOS MADRE -->
                        <mat-card class="card-sub-container" formGroupName="madre">
                            <mat-card-header>
                                <mat-card-subtitle>Informacion de la Madre</mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content fxLayout fxLayout="row wrap" fxLayoutGap="20px grid">
                                <mat-form-field fxFlex="20%" fxFlex.sm="50" fxFlex.xs="100%">
                                    <mat-label>Nombres de la Madre</mat-label>
                                    <input matInput formControlName="nombre" placeholder="Nombres y Apellidos">
                                </mat-form-field>
                                <mat-form-field fxFlex="20%" fxFlex.sm="50" fxFlex.xs="100%">
                                    <mat-label>Documento de la Madre</mat-label>
                                    <input matInput formControlName="documento" placeholder="Documento de la Madre">
                                </mat-form-field>
                                <mat-form-field fxFlex="20%" fxFlex.sm="33" fxFlex.xs="100%">
                                    <mat-label>Ocupacion de la Madre</mat-label>
                                    <input matInput formControlName="ocupacion" placeholder="Ocupacion de la Madre">
                                </mat-form-field>
                                <mat-form-field fxFlex="20%" fxFlex.sm="33" fxFlex.xs="100%">
                                    <mat-label>Telefono de la Madre</mat-label>
                                    <input matInput formControlName="telefono" placeholder="Telefono de la Madre">
                                </mat-form-field>
                                <p fxFlex="20%" fxFlex.sm="33" fxFlex.xs="100%">
                                    <mat-checkbox formControlName="viveConEstudiante">¿Vive con la Madre?</mat-checkbox>
                                </p>
                            </mat-card-content>
                        </mat-card>
        
                        <!-- DATOS ACUDIENTE -->
                        <mat-card class="card-sub-container" formGroupName="acudiente" >
                            <mat-card-header>
                                <mat-card-subtitle>
                                    Informacion del Acudiente
                                </mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content fxLayout fxLayout="row wrap" fxLayoutGap="20px grid">
                                <mat-form-field fxFlex="20%" fxFlex.sm="50" fxFlex.xs="100%">
                                    <mat-label>Nombres del Acudiente</mat-label>
                                    <input matInput formControlName="nombre" placeholder="Nombres y Apellidos">
                                </mat-form-field>
                                <mat-form-field fxFlex="20%" fxFlex.sm="50" fxFlex.xs="100%">
                                    <mat-label>Ocupacion del Acudiente</mat-label>
                                    <input matInput formControlName="ocupacion" placeholder="Ocupacion del Acudiente">
                                </mat-form-field>
                                <mat-form-field fxFlex="20%" fxFlex.sm="33" fxFlex.xs="100%">
                                    <mat-label>Lugar de trabajo del Acudiente</mat-label>
                                    <input matInput formControlName="lugarTrabajo" placeholder="Lugar de trabajo del Acudiente">
                                </mat-form-field>
                                <mat-form-field fxFlex="20%" fxFlex.sm="33" fxFlex.xs="100%">
                                    <mat-label>Edad del Acudiente</mat-label>
                                    <input matInput formControlName="edad" placeholder="Edad del Acudiente">
                                </mat-form-field>
                                <mat-form-field fxFlex="20%" fxFlex.sm="33" fxFlex.xs="100%">
                                    <mat-label>Parentesco del Acudiente</mat-label>
                                    <input matInput formControlName="parentesco" placeholder="Parentesco del Acudiente">
                                </mat-form-field>
                            </mat-card-content>
                        </mat-card>
                      </div>
                    </mat-expansion-panel>
                  </mat-accordion>
                  
                <!-- Características de personalidad -->
                <mat-accordion #personalityTraits>
                    <mat-expansion-panel [expanded]="true" (opened)="panelOpenState = true"
                                         (closed)="panelOpenState = false">
                      <mat-expansion-panel-header class="header-accordion">
                        <mat-panel-title>
                            Características de personalidad
                        </mat-panel-title>
                        <mat-panel-description>
                            Son los rasgos distintivos que definen el comportamiento y la actitud de una persona en diferentes situaciones
                            <mat-icon>list_alt</mat-icon>
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <div formGroupName="caracteristicasPersonalidad" fxLayout fxLayout="row wrap" fxLayoutGap="20px grid">
                        
                        <mat-form-field fxFlex="25%" fxFlex.xs="100%">
                            <mat-label>Grado de Actividad</mat-label>
                            <input matInput formControlName="gradoActividad" placeholder="Grado de Actividad (1-5)">
                        </mat-form-field>
        
                        <mat-form-field fxFlex="25%" fxFlex.xs="100%">
                            <mat-label>Sentido de Respeto</mat-label>
                            <input matInput formControlName="sentidoRespeto" placeholder="Sentido de Respeto (1-5)">
                        </mat-form-field>
        
                        <mat-form-field fxFlex="25%" fxFlex.xs="100%">
                            <mat-label>Grado de Tolerancia</mat-label>
                            <input matInput formControlName="gradoTolerancia" placeholder="Grado de Tolerancia (1-5)">
                        </mat-form-field>
        
                        <mat-form-field fxFlex="25%" fxFlex.xs="100%">
                            <mat-label>Grado de Sociabilidad</mat-label>
                            <input matInput formControlName="gradoSociabilidad" placeholder="Grado de Sociabilidad (1-5)">
                        </mat-form-field>
        
                        <mat-form-field fxFlex="25%" fxFlex.xs="100%">
                            <mat-label>Grado de Emotividad</mat-label>
                            <input matInput formControlName="gradoEmotividad" placeholder="Grado de Emotividad (1-5)">
                        </mat-form-field>
        
                        <mat-form-field fxFlex="25%" fxFlex.xs="100%">
                            <mat-label>Principio de Autoridad</mat-label>
                            <input matInput formControlName="principioAutoridad" placeholder="Principio de Autoridad (1-5)">
                        </mat-form-field>
        
                        <mat-form-field fxFlex="25%" fxFlex.xs="100%">
                            <mat-label>Aceptacion de Errores</mat-label>
                            <input matInput formControlName="aceptacionErrores" placeholder="Aceptacion de Errores (1-5)">
                        </mat-form-field>
        
                        <mat-form-field fxFlex="25%" fxFlex.xs="100%">
                            <mat-label>Manejo de Agresion</mat-label>
                            <input matInput formControlName="manejoAgresion" placeholder="Manejo de Agresion (1-5)">
                        </mat-form-field>
        
                        <mat-form-field fxFlex="25%" fxFlex.xs="100%">
                            <mat-label>Sentido de Responsabilidad</mat-label>
                            <input matInput formControlName="sentidoResponsabilidad" placeholder="Sentido de Responsabilidad (1-5)">
                        </mat-form-field>
        
                        <mat-form-field fxFlex="25%" fxFlex.xs="100%">
                            <mat-label>Aceptacion de Orientacion</mat-label>
                            <input matInput formControlName="aceptacionOrientacion" placeholder="Aceptacion de Orientacion (1-5)">
                        </mat-form-field>
        
                        <mat-form-field fxFlex="25%" fxFlex.xs="100%">
                            <mat-label>Sentido de Pertenencia</mat-label>
                            <input matInput formControlName="sentidoPertenencia" placeholder="Sentido de Pertenencia (1-5)">
                        </mat-form-field>
        
                        <mat-form-field fxFlex="25%" fxFlex.xs="100%">
                            <mat-label>Aceptacion Grupal</mat-label>
                            <input matInput formControlName="aceptacionGrupal" placeholder="Aceptacion Grupal (1-5)">
                        </mat-form-field>
        
                        <mat-form-field fxFlex="25%" fxFlex.xs="100%">
                            <mat-label>Nivel de Extroversion</mat-label>
                            <input matInput formControlName="nivelExtroversion" placeholder="Nivel de Extroversion (1-5)">
                        </mat-form-field>
        
                        <mat-form-field fxFlex="25%" fxFlex.xs="100%">
                            <mat-label>Grado de Colaboracion</mat-label>
                            <input matInput formControlName="gradoColaboracion" placeholder="Grado de Colaboracion (1-5)">
                        </mat-form-field>
        
                      </div>
                    </mat-expansion-panel>
                </mat-accordion>
                  
                <!-- Estado de salud -->
                <mat-accordion #healthStatus>
                    <mat-expansion-panel [expanded]="true" (opened)="panelOpenState = true"
                                         (closed)="panelOpenState = false">
                      <mat-expansion-panel-header class="header-accordion">
                        <mat-panel-title>
                            Estado de Salud
                        </mat-panel-title>
                        <mat-panel-description>
                            Estado de salud del estudiante
                            <mat-icon>health_and_safety</mat-icon>
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <div fxLayout fxLayout="row wrap" fxLayoutGap="20px grid" formGroupName="estadoSalud">
                        <p fxFlex="25%" fxFlex.sm="33" fxFlex.xs="100">
                            <mat-checkbox formControlName="desmayos">Desmayos</mat-checkbox>
                        </p>
                        <p fxFlex="25%" fxFlex.sm="33" fxFlex.xs="100">
                            <mat-checkbox formControlName="insomnio">Insomnio</mat-checkbox>
                        </p>
                        <p fxFlex="25%" fxFlex.sm="33" fxFlex.xs="100">
                            <mat-checkbox formControlName="convulsiones">Convulsiones</mat-checkbox>
                        </p>
                        <p fxFlex="25%" fxFlex.sm="33" fxFlex.xs="100">
                            <mat-checkbox formControlName="nerviosismo">Nerviosismo</mat-checkbox>
                        </p>
                        <p fxFlex="25%" fxFlex.sm="33" fxFlex.xs="100">
                            <mat-checkbox formControlName="alergias">Alergias</mat-checkbox>
                        </p>
                        <p fxFlex="25%" fxFlex.sm="33" fxFlex.xs="100">
                            <mat-checkbox formControlName="gripasFrecuentes">Gripas Frecuentes</mat-checkbox>
                        </p>
                        <p fxFlex="25%" fxFlex.sm="33" fxFlex.xs="100">
                            <mat-checkbox formControlName="otitis">Otitis</mat-checkbox>
                        </p>
                        <p fxFlex="25%" fxFlex.sm="33" fxFlex.xs="100">
                            <mat-checkbox formControlName="colicos">Colicos</mat-checkbox>
                        </p>
                        <p fxFlex="25%" fxFlex.sm="33" fxFlex.xs="100">
                            <mat-checkbox formControlName="cefaleas">Cefaleas</mat-checkbox>
                        </p>
                        <p fxFlex="25%" fxFlex.sm="33" fxFlex.xs="100">
                            <mat-checkbox formControlName="asma">Asma</mat-checkbox>
                        </p>
                        <mat-form-field fxFlex="100%" fxFlex.xs="100%">
                            <mat-label>Medicamentos</mat-label>
                            <input matInput formControlName="medicamentos" placeholder="Medicamentos">
                        </mat-form-field>
                      </div>
                    </mat-expansion-panel>
                </mat-accordion>
                  
                <!-- Seguimiento Educativo -->
                <mat-accordion #educationalFollowUp>
                    <mat-expansion-panel [expanded]="true" (opened)="panelOpenState = true"
                                         (closed)="panelOpenState = false">
                      <mat-expansion-panel-header class="header-accordion">
                        <mat-panel-title>
                            Seguimiento Educativo
                        </mat-panel-title>
                        <mat-panel-description>
                            Seguimiento del rendimiento academico del estudiante
                            <mat-icon>history_edu</mat-icon>
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <div fxLayout fxLayout="row wrap" fxLayoutGap="20px grid" formGroupName="seguimientoEducativos">
                        <mat-form-field fxFlex="33%" fxFlex.xs="100%">
                            <mat-label>Areas de Preferencia</mat-label>
                            <input matInput formControlName="areasPreferencias" placeholder="Areas de Preferencia">
                        </mat-form-field>
                        <mat-form-field fxFlex="33%" fxFlex.xs="100%">
                            <mat-label>Areas No Preferidas</mat-label>
                            <input matInput formControlName="areasNoPreferidas" placeholder="Areas No Preferidas">
                        </mat-form-field>
                        <mat-form-field fxFlex="33%" fxFlex.xs="100%">
                            <mat-label>Preferencias Vocacionales</mat-label>
                            <input matInput formControlName="preferenciasVocacionales" placeholder="Preferencias Vocacionales">
                        </mat-form-field>
                      </div>
                    </mat-expansion-panel>
                </mat-accordion>
                  
                <!-- Seguimiento Comportamental -->
                <mat-accordion #behavioralFollowUp>
                    <mat-expansion-panel [expanded]="true" (opened)="panelOpenState = true"
                                         (closed)="panelOpenState = false">
                      <mat-expansion-panel-header class="header-accordion">
                        <mat-panel-title>
                            Seguimiento Comportamental y Diciplinario
                        </mat-panel-title>
                        <mat-panel-description>
                            Comportamental y Disciplinario durante el Año Escolar
                            <mat-icon>timeline</mat-icon>
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <div fxLayout fxLayout="row wrap" fxLayoutGap="20px grid" formGroupName="seguimientoComportamental">
                        <p fxFlex="33%" fxFlex.xs="100%">
                            <mat-checkbox formControlName="tratoAfectuoso">Mantiene un trato afectuoso,  respetuoso  y armonioso hacia los  compañeros(as) y docentes</mat-checkbox>
                        </p>
                        <p fxFlex="33%" fxFlex.xs="100%">
                            <mat-checkbox formControlName="puntualidad">Llega puntualmente al colegio, a clases y demás actividades.</mat-checkbox>
                        </p>
                        <p fxFlex="33%" fxFlex.xs="100%">
                            <mat-checkbox formControlName="participacion">Está atento en clases, escucha y participa de manera apropiada teniendo en cuenta las necesidades  de  los demás compañeros y compañeras.</mat-checkbox>
                        </p>
                        <p fxFlex="33%" fxFlex.xs="100%">
                            <mat-checkbox formControlName="asertividad">Cuando tiene dificultades acude ante sus docentes para buscar encontrar soluciones asertivas a sus problemas.</mat-checkbox>
                        </p>
                        <p fxFlex="33%" fxFlex.xs="100%">
                            <mat-checkbox formControlName="tolerancia">Responde con conductas apropiadas ante situaciones conflictivas.</mat-checkbox>
                        </p>
                        <p fxFlex="33%" fxFlex.xs="100%">
                            <mat-checkbox formControlName="presentacionPersonal">Su presentación personal es adecuada a las peticiones y necesidades de la comunidad educativa.</mat-checkbox>
                        </p>
                        <p fxFlex="33%" fxFlex.xs="100%">
                            <mat-checkbox formControlName="respeto">Sigue y acata con respeto las indicaciones, orientaciones de los docentes y directivos del colegio</mat-checkbox>
                        </p>
                        <p fxFlex="33%" fxFlex.xs="100%">
                            <mat-checkbox formControlName="empatia">Canaliza su agresividad con conductas asertivas y dialogantes que conllevan a solucionar los  puntos de vistas diferentes.</mat-checkbox>
                        </p>
                        <p fxFlex="33%" fxFlex.xs="100%">
                            <mat-checkbox formControlName="colaboracion">Cuida el entorno del colegio, los salones, los muebles y demás utensilios de la institución.</mat-checkbox>
                        </p>
                        <mat-form-field fxFlex="100%" fxFlex.xs="100%">
                            <mat-label>Problemas Resueltos</mat-label>
                            <input matInput formControlName="problemasResueltos" placeholder="Problemas Resueltos">
                        </mat-form-field>
                      </div>
                    </mat-expansion-panel>
                </mat-accordion>

                <div class="accebility-buttons" fxLayout fxLayout="row wrap" 
                fxLayoutAlign="center">
                    <button mat-fab extended color="primary" (click)="createOrUpdateAttentionTracking()">
                        <mat-icon>done</mat-icon> Guardar
                    </button>
                </div>
        
            </form>
          </div>

        </mat-tab>
        <mat-tab label="Seguimientos" [disabled]="trackingTabIsDisabled">

          <div class="mat-elevation-z4">
            <app-tracking [dataSource]="this.trackingList$"></app-tracking>
          </div>

        </mat-tab>
      </mat-tab-group>

    
</div>