.block-container {
  padding: 0 16px;
}

.block-container > mat-accordion {
  margin: 16px;
}

.card-sub-container {
  margin: 16px;
}

.accebility-buttons > button {
  margin: 16px 5px;
}

.header-accordion  .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}