
.content {
  margin: 10px;
}

.content > mat-card {
  width: 200px;
}

.student-card {
  background-color: #c1d5e082;
}

mat-card::ng-deep.mat-mdc-card-header-text {
  width: 100%;
  text-align: center;
}

.flex-row {
  display: flex;
  flex-direction: row;

  > div {
    flex: 50%;
    border-radius: 10px;
    padding: 10px;
    background: #c3e3dc;
    color: black;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .big-text {
    font-size: 1.1em;
  }
}


