
.main-card {
  width: 100%;
}

.block-sign {
  width: 300px;
}

.input-sign {
  border: 1px solid #ccc;
  padding: 10px;
  height: 100px;
}

input, .mat-mdc-form-field-textarea-control {
  border: 1px solid #ccc;
  color: #212121 !important;
}

mat-label, .mdc-label, .mdc-floating-label {
  color: #424242 !important;
}

.mdc-checkbox {
  color: #212121 !important;
}
