table {
  width: 100%;
  overflow-x: auto;
}

.button-container {
  padding-bottom: 16px;
}

.button-control + .button-control {
  margin-left: 8px;
}

.mat-mdc-header-cell {
  padding-top: 5px;
  text-align: center;
  font-weight: bold;

}

.mat-mdc-cell {
  padding: 2px;
  text-align: center;
  height: 100px;
}

.mat-column-fecha-registro {
  width: auto;
  padding-right: 24px;
  text-align: center;
  border-right: 1px solid currentColor;
}

.mat-column-acciones {
  width: auto;
  text-align: center;
  border-left: 1px solid currentColor;
}

.btn-actions {
  margin: 0 5px;
}