<div class="container" fxLayout fxLayout="column" fxLayoutGap="20px">

    <form [formGroup]="form">

        <!-- Informacion basica -->
        <mat-accordion class="block-container">
            <mat-expansion-panel [expanded]="true" (opened)="panelOpenState = false"
                                 (closed)="panelOpenState = true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                    Informacion General
                </mat-panel-title>
                <mat-panel-description>
                    Informacion basica del estudiante
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div fxLayout fxLayout="row wrap" fxLayoutGap="20px grid">
                <mat-form-field fxFlex="25%" fxFlex.xs="100%">
                    <mat-label>Apellidos</mat-label>
                    <input matInput formControlName="apellidos" placeholder="Apellidos">
                </mat-form-field>
                <mat-form-field fxFlex="25%" fxFlex.xs="100%">
                    <mat-label>Nombres</mat-label>
                    <input matInput formControlName="nombres" placeholder="Nombres">
                </mat-form-field>
                <mat-form-field fxFlex="25%" fxFlex.xs="100%">
                    <mat-label>Documento</mat-label>
                    <input matInput formControlName="documento" placeholder="Documento">
                </mat-form-field>
                <mat-form-field fxFlex="25%" fxFlex.xs="100%">
                    <mat-label>Grado</mat-label>
                    <input matInput formControlName="grado" placeholder="Grado">
                </mat-form-field>
                <mat-form-field fxFlex="25%" fxFlex.xs="100%">
                    <mat-label>Sexo</mat-label>
                    <input matInput formControlName="sexo" placeholder="Sexo">
                </mat-form-field>
                <mat-form-field fxFlex="25%" fxFlex.xs="100%">
                    <mat-label>Edad</mat-label>
                    <input matInput formControlName="edad" placeholder="Edad">
                </mat-form-field>
                <mat-form-field fxFlex="25%" fxFlex.xs="100%">
                    <mat-label>Fecha de Nacimiento</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="fechaNacimiento">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field fxFlex="25%" fxFlex.xs="100%">
                    <mat-label>Barrio</mat-label>
                    <input matInput formControlName="barrio" placeholder="Barrio">
                </mat-form-field>
                <mat-form-field fxFlex="50%" fxFlex.xs="100%">
                    <mat-label>Direccion de Residencia</mat-label>
                    <input matInput formControlName="direccionResidencia" placeholder="Direccion de Residencia">
                </mat-form-field>
                <mat-form-field fxFlex="25%" fxFlex.xs="100%">
                    <mat-label>Ciudad de Origen</mat-label>
                    <input matInput formControlName="ciudadOrigen" placeholder="Ciudad de Origen">
                </mat-form-field>
                <mat-form-field fxFlex="25%" fxFlex.xs="100%">
                    <mat-label>Pais de Origen</mat-label>
                    <input matInput formControlName="paisOrigen" placeholder="Pais de Origen">
                </mat-form-field>
                <mat-form-field fxFlex="25%" fxFlex.xs="100%">
                    <mat-label>Telefono</mat-label>
                    <input matInput formControlName="telefono" placeholder="Telefono">
                </mat-form-field>
                <mat-form-field fxFlex="25%" fxFlex.xs="100%">
                    <mat-label>Estrato</mat-label>
                    <input matInput formControlName="estrato" placeholder="Estrato">
                </mat-form-field>
                <mat-form-field fxFlex="25%" fxFlex.xs="100%">
                    <mat-label>Correo Electronico</mat-label>
                    <input matInput formControlName="correoElectronico" placeholder="Correo Electronico">
                </mat-form-field>
                <mat-form-field fxFlex="25%" fxFlex.xs="100%">
                    <mat-label>EPS</mat-label>
                    <input matInput formControlName="eps" placeholder="EPS">
                </mat-form-field>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        
        <!-- Informacion de los padres y acudientes -->
        <mat-accordion class="block-container">
            <mat-expansion-panel [expanded]="true" (opened)="panelOpenState = false"
                                 (closed)="panelOpenState = true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                    Informacion de Padres y Acudientes
                </mat-panel-title>
                <mat-panel-description>
                    Informacion de Padres de familia y Acudientes
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div>
                <!-- DATOS PADRE -->
                <mat-card class="card-sub-container" formGroupName="padre">
                    <mat-card-header>
                        <mat-card-subtitle>Informacion del Padre</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content fxLayout fxLayout="row wrap" fxLayoutGap="20px grid">
                        <mat-form-field fxFlex="25%" fxFlex.xs="100%">
                            <mat-label>Nombres del Padre</mat-label>
                            <input matInput formControlName="nombre" placeholder="Nombres del Padre">
                        </mat-form-field>
                        <mat-form-field fxFlex="25%" fxFlex.xs="100%">
                            <mat-label>Documento del Padre</mat-label>
                            <input matInput formControlName="documento" placeholder="Documento del Padre">
                        </mat-form-field>
                        <mat-form-field fxFlex="25%" fxFlex.xs="100%">
                            <mat-label>Ocupacion del Padre</mat-label>
                            <input matInput formControlName="ocupacion" placeholder="Ocupacion del Padre">
                        </mat-form-field>
                        <mat-form-field fxFlex="25%" fxFlex.xs="100%">
                            <mat-label>Telefono del Padre</mat-label>
                            <input matInput formControlName="telefono" placeholder="Telefono del Padre">
                        </mat-form-field>
                    </mat-card-content>
                </mat-card>

                <!-- DATOS MADRE -->
                <mat-card class="card-sub-container" formGroupName="madre">
                    <mat-card-header>
                        <mat-card-subtitle>Informacion de la Madre</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content fxLayout fxLayout="row wrap" fxLayoutGap="20px grid">
                        <mat-form-field fxFlex="25%" fxFlex.xs="100%">
                            <mat-label>Nombres de la Madre</mat-label>
                            <input matInput formControlName="nombre" placeholder="Nombres de la Madre">
                        </mat-form-field>
                        <mat-form-field fxFlex="25%" fxFlex.xs="100%">
                            <mat-label>Documento de la Madre</mat-label>
                            <input matInput formControlName="documento" placeholder="Documento de la Madre">
                        </mat-form-field>
                        <mat-form-field fxFlex="25%" fxFlex.xs="100%">
                            <mat-label>Ocupacion de la Madre</mat-label>
                            <input matInput formControlName="ocupacion" placeholder="Ocupacion de la Madre">
                        </mat-form-field>
                        <mat-form-field fxFlex="25%" fxFlex.xs="100%">
                            <mat-label>Telefono de la Madre</mat-label>
                            <input matInput formControlName="telefono" placeholder="Telefono de la Madre">
                        </mat-form-field>
                    </mat-card-content>
                </mat-card>

                <!-- DATOS ACUDIENTE -->
                <mat-card class="card-sub-container" formGroupName="acudiente" >
                    <mat-card-header>
                        <mat-card-subtitle>
                            Informacion del Acudiente
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content fxLayout fxLayout="row wrap" fxLayoutGap="20px grid">
                        <mat-form-field fxFlex="25%" fxFlex.xs="100%">
                            <mat-label>Nombres del Acudiente</mat-label>
                            <input matInput formControlName="nombre" placeholder="Nombres del Acudiente">
                        </mat-form-field>
                        <mat-form-field fxFlex="25%" fxFlex.xs="100%">
                            <mat-label>Ocupacion del Acudiente</mat-label>
                            <input matInput formControlName="ocupacion" placeholder="Ocupacion del Acudiente">
                        </mat-form-field>
                        <mat-form-field fxFlex="25%" fxFlex.xs="100%">
                            <mat-label>Lugar de trabajo del Acudiente</mat-label>
                            <input matInput formControlName="lugarTrabajo" placeholder="Lugar de trabajo del Acudiente">
                        </mat-form-field>
                        <mat-form-field fxFlex="25%" fxFlex.xs="100%">
                            <mat-label>Edad del Acudiente</mat-label>
                            <input matInput formControlName="edad" placeholder="Edad del Acudiente">
                        </mat-form-field>
                        <mat-form-field fxFlex="25%" fxFlex.xs="100%">
                            <mat-label>Parentesco del Acudiente</mat-label>
                            <input matInput formControlName="parentesco" placeholder="Parentesco del Acudiente">
                        </mat-form-field>
                    </mat-card-content>
                </mat-card>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
          
        <mat-accordion class="block-container">
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                    Características de personalidad
                </mat-panel-title>
                <mat-panel-description>
                    Son los rasgos distintivos que definen el comportamiento y la actitud de una persona en diferentes situaciones
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div formGroupName="caracteristicasPersonalidad" fxLayout fxLayout="row wrap" fxLayoutGap="20px grid">
                
                <mat-form-field fxFlex="25%" fxFlex.xs="100%">
                    <mat-label>Grado de Actividad</mat-label>
                    <input matInput formControlName="gradoActividad" placeholder="Grado de Actividad (1-5)">
                </mat-form-field>

                <mat-form-field fxFlex="25%" fxFlex.xs="100%">
                    <mat-label>Sentido de Respeto</mat-label>
                    <input matInput formControlName="sentidoRespeto" placeholder="Sentido de Respeto (1-5)">
                </mat-form-field>

                <mat-form-field fxFlex="25%" fxFlex.xs="100%">
                    <mat-label>Grado de Tolerancia</mat-label>
                    <input matInput formControlName="gradoTolerancia" placeholder="Grado de Tolerancia (1-5)">
                </mat-form-field>

                <mat-form-field fxFlex="25%" fxFlex.xs="100%">
                    <mat-label>Grado de Sociabilidad</mat-label>
                    <input matInput formControlName="gradoSociabilidad" placeholder="Grado de Sociabilidad (1-5)">
                </mat-form-field>

                <mat-form-field fxFlex="25%" fxFlex.xs="100%">
                    <mat-label>Grado de Emotividad</mat-label>
                    <input matInput formControlName="gradoEmotividad" placeholder="Grado de Emotividad (1-5)">
                </mat-form-field>

                <mat-form-field fxFlex="25%" fxFlex.xs="100%">
                    <mat-label>Principio de Autoridad</mat-label>
                    <input matInput formControlName="principioAutoridad" placeholder="Principio de Autoridad (1-5)">
                </mat-form-field>

                <mat-form-field fxFlex="25%" fxFlex.xs="100%">
                    <mat-label>Aceptacion de Errores</mat-label>
                    <input matInput formControlName="aceptacionErrores" placeholder="Aceptacion de Errores (1-5)">
                </mat-form-field>

                <mat-form-field fxFlex="25%" fxFlex.xs="100%">
                    <mat-label>Manejo de Agresion</mat-label>
                    <input matInput formControlName="manejoAgresion" placeholder="Manejo de Agresion (1-5)">
                </mat-form-field>

                <mat-form-field fxFlex="25%" fxFlex.xs="100%">
                    <mat-label>Sentido de Responsabilidad</mat-label>
                    <input matInput formControlName="sentidoResponsabilidad" placeholder="Sentido de Responsabilidad (1-5)">
                </mat-form-field>

                <mat-form-field fxFlex="25%" fxFlex.xs="100%">
                    <mat-label>Aceptacion de Orientacion</mat-label>
                    <input matInput formControlName="aceptacionOrientacion" placeholder="Aceptacion de Orientacion (1-5)">
                </mat-form-field>

                <mat-form-field fxFlex="25%" fxFlex.xs="100%">
                    <mat-label>Sentido de Pertenencia</mat-label>
                    <input matInput formControlName="sentidoPertenencia" placeholder="Sentido de Pertenencia (1-5)">
                </mat-form-field>

                <mat-form-field fxFlex="25%" fxFlex.xs="100%">
                    <mat-label>Aceptacion Grupal</mat-label>
                    <input matInput formControlName="aceptacionGrupal" placeholder="Aceptacion Grupal (1-5)">
                </mat-form-field>

                <mat-form-field fxFlex="25%" fxFlex.xs="100%">
                    <mat-label>Nivel de Extroversion</mat-label>
                    <input matInput formControlName="nivelExtroversion" placeholder="Nivel de Extroversion (1-5)">
                </mat-form-field>

                <mat-form-field fxFlex="25%" fxFlex.xs="100%">
                    <mat-label>Grado de Colaboracion</mat-label>
                    <input matInput formControlName="gradoColaboracion" placeholder="Grado de Colaboracion (1-5)">
                </mat-form-field>

              </div>
            </mat-expansion-panel>
        </mat-accordion>
          
        <mat-accordion class="block-container">
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                    Características de personalidad
                </mat-panel-title>
                <mat-panel-description>
                    Son los rasgos distintivos que definen el comportamiento y la actitud de una persona en diferentes situaciones
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div fxLayout fxLayout="row wrap" fxLayoutGap="20px grid">
                
              </div>
            </mat-expansion-panel>
        </mat-accordion>


    </form>
</div>